/*******************************
 * Wait ind. style elements    *
 *******************************/

div#vvWaitIndicator {
    display: none;
}

/*******************************
 * Save dialog style elements  *
 *******************************/

div#vvSaveDocumentDialog {
    display: none;
}

/*******************************
 * Delete Annotation dialog    *
 *******************************/

div#vvDeleteAnnotationDialog {
    display: none;
}

/*******************************
 * Print dialog style elements *
 *******************************/
 
div#vvPrintDialog {
    display: none;
}

div#vvPrintOptionsPageLabelText > input {
    width: 30px;
}

div#vvPrintOptionsColorRadio {
    padding-top: 5px;
}

div#vvPrintOptionsAnnotationsCheckbox {
    padding-top: 5px;
}

.vvPrintAnnotationsDisabled {
    color: gray;
}

/*******************************
 * Export dialog style elements  *
 *******************************/

div#vvExportDialog {
    display: none;
}

div#vvExportOptionsAnnotationsCheckbox {
    padding-top: 5px;
}

span#vvExportOriginalText.vvExportDisabled {
    color: gray;
}


/*******************************
 * About dialog style elements  *
 *******************************/

div#vvAboutDialog {
    display: none;
}

div#vvAboutDialogContents {
    width: 300px;
    height: 300px;
    background-image: url(../resources/aboutBackground.png);
    background-repeat: no-repeat;
}

div#vvAboutDialogText {
    padding-top: 220px;
    font-size: 8pt;
}

/***************************************
 * New document dialog style elements  *
 ***************************************/

div#vvNewDocumentDialog {
    display: none;
}

div#vvNewDocumentDialogError {
    display: none;
    color: Red;
}

/*******************************
 * Context menu style elements *
 *******************************/
 
div#vvContextMenu {
    background-color: white;
    border: 2px solid DarkGray;
    font-family: sans-serif;
    font-size: 14px;
    height: 55px;
    padding-top: 5px;
    position: absolute;
    width: 100px;
    z-index: 999;
    visibility: hidden;
}

.vvContextMenuItem {
    border-bottom: 1px solid LightGrey;
    border-color: LightGrey;
    border-width: 1px;
    padding-left: 8px;
    padding-top: 1px;
}

.vvContextMenuItemDisabled {
    border-bottom: 1px solid LightGrey;
    border-color: LightGrey;
    border-width: 1px;
    padding-left: 8px;
    padding-top: 1px;
    color: LightGrey;
}

.vvContextMenuItemSelected {
    border-bottom: 1px solid LightGrey;
    border-color: LightGrey;
    border-width: 1px;
    padding-left: 8px;
    padding-top: 1px;
    background-color: DarkGrey;
}

div#vvContextMenuProperties {
    padding-bottom: 5px;
}

/*****************************
 * Ann Pop Up style elements *
 ****************************/
div#vvAnnPopUp {
    display: none;

    position: relative;
	font: 12px Helvetica;
	padding: 5px;
	background-color: #ffffff;
	width: 190px;
	z-index: 100;

	border: 1px solid #666666;

	border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;

    -moz-box-shadow: 3px 3px 0px #666666;
    -webkit-box-shadow: 3px 3px 0px #666666;
    box-shadow: 3px 3px 0px #666666;

    /* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#666666')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#666666');
}

/********************************
 * Color Chooser style elements *
 ********************************/

div#vvAnnColor { 
    position: relative;

    height: 120px;

    padding-left: 5px;
    padding-top: 10px;
}

div#vvAnnColor.vvAnnColorLess {
    height: 65px;
}

div#vvAnnLineColorLabel {
    position: absolute;
}

div#vvAnnBorderColorLabel {
    position: absolute;
}

div#vvAnnFillColorLabel {
    position: absolute;
}

div#vvAnnTextColorLabel {
    position: absolute;
}

div#vvAnnColorGridChooser { 
    position: relative;
    margin-top: 15px;
}

div#vvAnnColorGridChooserRow1 {
    position: relative;
    top: 0px;
}

div#vvAnnColorGridChooserRow2 {
    position: relative;
    top: 20px;
}

div#vvAnnColorGridChooserRow3 {
    position: relative;
    top: 40px;
}

.vvAnnColorGridChooserCellUnselected {
    position: absolute;
    border-color: #4297d7;
    border-width: 1px;
    border-style: solid;
}

.vvAnnColorGridChooserCellSelected {
    position: absolute;
    border-color: #4297d7;
    border-width: 2px;
    border-style: solid;
}

#vvAnnColorMoreLink {
    position: relative;
    font-style: italic;
    font-size: 10pt;
    color: blue;
    top: 20px;
}

#vvAnnColorCustom {
    position: relative;
    top: 70px;
}

#vvAnnColorCustomInput {
    border-color: #4297d7;
    border-width: 1px;
    border-style: solid;
}

/********************************
 * Ann Thickness style elements *
 ********************************/
div#vvAnnThickness {
    position: relative;

    height: 50px;

    padding-left: 5px;
    padding-top: 10px;
}

.vvAnnThicknessCell {
    position: absolute;

    padding-top: 15px;
    height: 10px;
}

.vvAnnThicknessElement {
    position: absolute;

    height: 10px;

    background-color: black;
}

/********************************
 * Ann Thickness style elements *
 ********************************/
div#vvAnnText {
    position: relative;

    padding-left: 5px;
}

div#vvAnnTextFace {
    padding-top: 10px;
}

div#vvAnnTextSize {
    padding-top: 10px;
}

div#vvAnnTextFaceLabel {
    float: left;

    padding-top: 3px;
}

div#vvAnnTextFaceValue {
    position: relative;

    top: 0px;
    left: 10px;
}

div#vvAnnTextSizeLabel {
    float: left;

    padding-top: 3px;
}

div#vvAnnTextSizeValue {
    position: relative;

    top: 0px;
    left: 10px;
}

form#vvAnnTextStyle {
    padding-top: 10px;
}

input#vvAnnTextEditButton {
    margin-top: 10px;
    margin-left: 5px;
}

input#vvAnnDeleteButton {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
}

input.vvAnnPopUpButton {
	border-width: 1px;
	border-radius: 5px;

    min-width: 80px;
    height: 30px;

    background: #f2f5f6; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YyZjVmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2VkZWRlZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkN2Q3ZDciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #f2f5f6 0%, #ededed 50%, #d7d7d7 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f5f6), color-stop(50%,#ededed), color-stop(100%,#d7d7d7)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f2f5f6 0%,#ededed 50%,#d7d7d7 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f2f5f6 0%,#ededed 50%,#d7d7d7 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f2f5f6 0%,#ededed 50%,#d7d7d7 100%); /* IE10+ */
    background: linear-gradient(top, #f2f5f6 0%,#ededed 50%,#d7d7d7 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(
                    startColorstr='#f2f5f6',
                    endColorstr='#d7d7d7',GradientType=0 )
                progid:DXImageTransform.Microsoft.Alpha(opacity=100); /* IE6-8 */
}
