@CHARSET "ISO-8859-1";

html, body {
    position: absolute;
    
    height: 100%;
    width: 100%;
    
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    
    margin: 0px;
    padding: 0px;
    
    overflow: hidden;
    float: left;
}

div#flexSnapAJAX {
    position: absolute;
    
    height: 100%;
    width: 100%;
    
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    
    margin: 0px;
    padding: 0px;
}

div#statusBar {
    position: absolute;
    width:expression(document.body.clientWidth-7); 
    
    bottom: 0px;
    
    margin: 0px;
    padding: 0px;
}

div#imageControlsDiv {
    padding: 5px;
}

div#imageAndThumbs {
    position: absolute;
    
    width: 99.9%;
    height: expression(document.body.clientHeight-40); 
    
    border: 5px;
    margin: 0px;
    
    padding: 0px;
    margin-bottom: 50px;
}

div#outerDiv {
    height:expression(document.body.clientHeight-72);
    width: 100%;

    padding: 0px;
    margin: 0px;
}

div#vvImagePanel {
    height:expression(document.body.clientHeight-40);
    width:expression(document.body.clientWidth-235); 

    padding: 0px;
    margin: 0px;
}

div#vvImagePanel.noThumbs {
    width:expression(document.body.clientWidth-40); 
}

div#vvThumbs {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;

    height:expression(document.body.clientHeight-40);
    left:expression(document.body.clientWidth-220); 
}

div#vvPageThumbs {
    height:expression(document.body.clientHeight-94);
    width: 145px;
    overflow-x: hidden;
}

div#vvDocThumbs {
    height:expression(document.body.clientHeight-94);
    width: 145px;
    overflow-x: hidden;
}

div.thumbBox {
    width: 140px;
    height: 140px;
}

input#vvPrintFirstPage {
    width: 30px;
}

input#vvPrintLastPage {
    width: 30px;
}

div#vvAnnColorGridChooser {
    margin-top: 30px;
}

li#vvSearchTab > a > img {
    border-color: transparent;
}
