<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN" "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">
<web-app>
    <servlet>
        <servlet-name>AjaxServlet</servlet-name>
        <servlet-class>com.snowbound.ajax.servlet.AjaxServlet</servlet-class>
        <init-param>
            <param-name>codebase</param-name>
            <param-value>http://localhost:8080/VirtualViewerJavaHTML5</param-value>
        </init-param>
        <!-- Separate content server not available in evaluations -->
        <init-param>
            <param-name>servletURL</param-name>
            <param-value>http://localhost:8080/VirtualViewerJavaContentServer</param-value>
        </init-param>
        <init-param>
            <param-name>contentServerType</param-name>
            <param-value>integrated</param-value>
        </init-param>
        <!--Below parameters only used when contentServerType is set to "integrated"-->
        <init-param>
            <param-name>contentHandlerClass</param-name>
            <param-value>org.alfresco.integrations.snowbound.RestContentHandler</param-value>
        </init-param>
        <init-param>
            <param-name>filePath</param-name>
            <param-value>./Sample-Documents</param-value>
        </init-param>
        <init-param>
            <param-name>officeLicensePath</param-name>
            <param-value>/Aspose.Total.Product.Family.lic</param-value>
        </init-param>
        <init-param>
            <param-name>logLevel</param-name>
            <param-value>ALL</param-value>
        </init-param>
        <init-param>
            <param-name>pixelLimit</param-name>
            <param-value>4000x4000</param-value>
        </init-param>
        <init-param>
            <param-name>documentCacheSize</param-name>
            <param-value>1024000</param-value>
        </init-param>
        <init-param>
            <param-name>thumbByteEstimate</param-name>
            <param-value>6000</param-value>
        </init-param>
        <init-param>
            <param-name>thumbnailDPI</param-name>
            <param-value>60</param-value>
        </init-param>
        <init-param>
            <param-name>tiffByteSize</param-name>
            <param-value>40000</param-value>
        </init-param>
        <init-param>
            <param-name>jpegByteSize</param-name>
            <param-value>600000</param-value>
        </init-param>
        <init-param>
            <param-name>defaultByteSize</param-name>
            <param-value>400000</param-value>
        </init-param>
        <init-param>
            <param-name>maxByteMultiplier</param-name>
            <param-value>20</param-value>
        </init-param>
        <init-param>
            <param-name>jpegQuality</param-name>
            <param-value>65</param-value>
        </init-param>
        <init-param>
            <param-name>pdfBitDepth</param-name>
            <param-value>24</param-value>
        </init-param>
        <init-param>
            <param-name>pdfDPI</param-name>
            <param-value>300</param-value>
        </init-param>
        <init-param>
            <param-name>pdfFormat</param-name>
            <param-value>TIFF_LZW</param-value>
        </init-param>
        <init-param>
            <param-name>wordBitDepth</param-name>
            <param-value>24</param-value>
        </init-param>
        <init-param>
            <param-name>wordDPI</param-name>
            <param-value>150</param-value>
        </init-param>
        <init-param>
            <param-name>wordFormat</param-name>
            <param-value>TIFF_LZW</param-value>
        </init-param>
        <init-param>
            <param-name>xlsBitDepth</param-name>
            <param-value>24</param-value>
        </init-param>
        <init-param>
            <param-name>xlsDPI</param-name>
            <param-value>150</param-value>
        </init-param>
        <init-param>
            <param-name>xlsFormat</param-name>
            <param-value>TIFF_LZW</param-value>
        </init-param>
        <init-param>
            <param-name>vectorPDF</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>tmpDir</param-name>
            <param-value>c:/tmp/</param-value>
        </init-param>
        <init-param>
            <param-name>saveAnnotationsAsXml</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>clearCacheOnSave</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>annotationOutputFormat</param-name>
            <param-value>snowbound</param-value>
        </init-param>
    </servlet>
    <!--end of integrated server parameters-->
    <servlet-mapping>
        <servlet-name>AjaxServlet</servlet-name>
        <url-pattern>/AjaxServlet</url-pattern>
    </servlet-mapping>
</web-app>
